@model IEnumerable<HospiceNiagara.Models.Schedule>

@{
    ViewBag.Title = "AdminList";
}

<h2>Schedules</h2>

<p>
    @Html.ActionLink("Create New", "Create") |
    @Html.ActionLink("Manage Schedule Types", "../SchedTypes/Index")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SchedName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SchedLink)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SchedName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SchedLink)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
