@model HospiceNiagara.Models.Schedule
@*Andreas King March 2015*@
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="col-sm-4">
        <div class="panel panel-success ">
            <div class="panel-heading">
                <span id="welcomeDeskScheduleTitle">Welcome Desk Schedule</span>
                <span id="newWelcomeDeskScheduleTitle" hidden>New Welcome Desk Schedule</span>
                <div id="glyphNewWelcomeDeskSchedule" class="glyphicon glyphicon-plus pull-right"></div>
            </div>
            <div id="welcomeDeskScheduleContent">
                <div id="scheduleWelcomeDeskList" class="panel-body">
                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.SchedName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SchedStartDate)
                            </th>
                            <th></th>
                        </tr>
                        @foreach (var item in (IEnumerable<HospiceNiagara.Models.Schedule>)ViewData["Schedule"])
                        {
                            <tr>
                                <td>                          
                                    <a href=@item.SchedLink>@Html.DisplayFor(modelItem => item.SchedName)</a>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SchedStartDate)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                </td>
                            </tr>
                        }
                    </table>
                </div>
                <div id="newWelcomeDeskSchedule" class="panel-body" hidden>
                    
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")

<script>
    $(document).ready(function () {
        $('#glyphNewWelcomeDeskSchedule').on('click', function () {
            $('#welcomeDeskScheduleTitle').slideToggle();
            $('#scheduleWelcomeDeskList').slideToggle();
            $('#newWelcomeDeskSchedule').slideToggle();
            $('#newWelcomeDeskScheduleTitle').slideToggle();
            $('#glyphNewWelcomeDeskSchedule').fadeToggle();
        });

        $('#btnAddNewWelcomeDeskSchedule').on('click', function () {
            $('#welcomeDeskScheduleTitle').slideToggle();
            $('#scheduleWelcomeDeskList').slideToggle();
            $('#newWelcomeDeskSchedule').slideToggle();
            $('#newWelcomeDeskScheduleTitle').slideToggle();
            $('#glyphNewWelcomeDeskSchedule').fadeToggle();
        });

        $('#btnCancelNewWelcomeDeskSchedule').on('click', function () {
            $('#welcomeDeskScheduleTitle').slideToggle();
            $('#scheduleWelcomeDeskList').slideToggle();
            $('#newWelcomeDeskSchedule').slideToggle();
            $('#newWelcomeDeskScheduleTitle').slideToggle();
            $('#glyphNewWelcomeDeskSchedule').fadeToggle();
        });
    });
</script>