@model HospiceNiagara.Models.Schedule
@*Andreas King March 2015*@
@{
    ViewBag.Title = "Schedules";
}

<div class="container">
    @{
        bool firstPanel = false;
        foreach (var st in (IEnumerable<HospiceNiagara.Models.SchedType>)ViewData["ScheduleTypes"])
        {
            <div class="col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <span id="schedulesTitle">@Html.DisplayFor(modelItem => st.SchedTypeName)</span>
                        <span id="newschedulesTitle" hidden>New Schedule</span>
                        @if (User.IsInRole("Administrator") && firstPanel == false || User.IsInRole("Create/Modify Schedules") && firstPanel == false)
                        {
                            <span id="glyphNewSchedule" class="glyphicon glyphicon-plus pull-left"></span>
                        }
                        @if (firstPanel.Equals(false))
                        {
                            <span title="Schedules" data-content="Each panel corresponds to a schedule type. Under each panel you can find any notes or files that have been attached to the schedule type. Underneath that information the schedules are listed; Simply click on a schedule to navigate to it." class="glyphicon glyphicon-info-sign pull-right" data-toggle="popover" data-placement="bottom" data-trigger="hover"></span>
                        }
                    </div>
                    <div class="panel-body" id="stBody">
                        <div class="col-md-6">
                            @st.SchedTypeNote
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group">
                                @foreach (var file in st.Files)
                                {
                                    <li class="list-group-item btn btn-default" onclick="location.href='../../FileStorages/Download/@file.ID';">
                                        <a style="text-decoration:none">@file.FileDescription</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <table @{ 
                                if (firstPanel == false)
                                { 
                                    @: id="scheduleBody"
                                }
                            }
                    class="table">
                        @foreach (var item in (IEnumerable<HospiceNiagara.Models.Schedule>)ViewData["Schedules"])
                        {
                            if (st.ID == item.SchedType.ID)
                            {
                                <tr>
                                    <td class="text-center">
                                        @if (item.SchedLink.Contains("http"))
                                        {
                                            <a target="_blank" href="@item.SchedLink">@Html.DisplayFor(modelItem => item.SchedName) </a>
                                        }
                                        else
                                        {
                                            <a target="_blank" href="http://@item.SchedLink">@Html.DisplayFor(modelItem => item.SchedName) </a>
                                        }
                                    </td>
                                    @if (User.IsInRole("Administrator") || User.IsInRole("Create/Modify Schedules") || User.IsInRole("Remove Records"))
                                    {
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                        </td>
                                    }
                                </tr>
                            }
                        }
                    </table>

                    @{
                        if(firstPanel == false)
                        {
                            <div id="newSchedule" class="panel-body" hidden>
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="form-horizontal">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.SchedName, htmlAttributes: new { @class = "control-label", @style = "padding-left:15px" })
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.SchedName, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.SchedName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.SchedLink, htmlAttributes: new { @class = "control-label", @style = "padding-left:15px" })
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.SchedLink, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.SchedLink, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label" style="padding-left:15px">Schedule Types</label>
                                            <div class="col-md-12">
                                                <select class="form-control" name="selectedSchedType">
                                                    @{
                                                        List<HospiceNiagara.ViewModels.SchedTypeVM> types = ViewBag.SchedTypes;
                                                        foreach (var t in types)
                                                        {
                                                            <option value=@t.ID>@t.SchedTypeName</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label" style="padding-left:15px">Visible to</label>
                                            <div class="col-md-12">
                                                <table class="table">
                                                    <tr>
                                                        @{
                                                            int cnt = 0;
                                                            List<HospiceNiagara.ViewModels.RoleVM> roles = ViewBag.RolesLists;
                                                            foreach(var r in roles)
                                                            {
                                                                if (cnt++ % 2 == 0)
                                                                {
                                                                    @:</tr><tr>
                                                                }
                                                                @:<td>
                                                                    <input type="checkbox"
                                                                    class="chkRoles"
                                                                    name="selectedRoles"
                                                                    data-size="small"
                                                                    value="@r.RoleID"
                                                                    @(Html.Raw(r.RoleAssigned ? "checked=\"checked\"" : "")) />
                                                                    <br />
                                                                    <div class="text-left">
                                                                        @Html.DisplayFor(modelItem => r.RoleName)
                                                                    </div>
                                                                @:</td>
                                                            }
                                                        }
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input type="submit" value="Create" name="CreateSchedule" class="btn btn-primary" />
                                                @Html.ActionLink("Cancel", "Index")
                                            </div>
                                        </div>
                                    </div>
                                }
                        </div>
                            firstPanel = true;
                        }
                    }
                    @if(User.IsInRole("Administrator"))
                    {
                        <div class="panel-footer text-center">
                            @Html.ActionLink("Edit", "../SchedTypes/Edit", new { id = st.ID }, new { @class = "btn btn-sm btn-default" })
                            @Html.ActionLink("Delete", "../SchedTypes/Delete", new { id = st.ID }, new { @class = "btn btn-sm btn-danger" })
                        </div>
                    }
                </div>
            </div>
        }
   }
</div>
                
@Scripts.Render("~/bundles/jqueryval")

<script>
    $(document).ready(function () {
        $('#glyphNewSchedule').on('click', function () {
            $('#schedulesTitle').slideToggle();
            $('#scheduleBody').slideToggle();
            $('#newSchedule').slideToggle();
            $('#newschedulesTitle').slideToggle();
            $('#stBody').slideToggle();
            $('#glyphNewSchedule').fadeToggle();
            $('.panel-footer').slideToggle();
        });

        $('[data-toggle="popover"]').popover();

        $("[name='selectedRoles']").bootstrapSwitch();
    });
</script>