@using PagedList.Mvc;

@model PagedList.IPagedList<HospiceNiagara.Models.DeathNotice>

@{
    ViewBag.Title = "AdminList";
}

@*Andreas King March 2015*@

<h2>Rest in Peace</h2>

<p>
    @Html.ActionLink("Create New", "adminCreate")
</p>
<table class="table">
    <tr>
        <th>
            First Name
        </th>
        <th>
            Middle Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Date
        </th>
        <th>
            Location
        </th>
        <th>
            Notes
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DnFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DnMiddleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DnLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DnDateString)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DnLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DnNotes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
<div class="text-center">
    <div class="center-block">
        @Html.PagedListPager(Model, page => Url.Action("AdminList", new { page, pageSize = Model.PageSize }))
        Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount RIPs
    </div>
</div>