@model HospiceNiagara.Models.DeathNotice

@{
    ViewBag.Title = "Details";
}

<link href="http://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet" type="text/css">
<div class="col-sm-8">
    <div class="panel panel-success ">
        <div class="panel-heading handwriting-title">
            Recently Passed
        </div>
        <div class="panel-body handwriting">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.DnFirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DnFirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DnMiddleName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DnMiddleName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DnLastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DnLastName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DnLocation)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DnLocation)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DnNotes)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DnNotes)
                </dd>

            </dl>
        </div>
        <p class="text-center">
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
  </div>
</div>