@model IEnumerable<HospiceNiagara.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
}

<h2>Users Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </th>       
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>      
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserFullName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.UserMName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserLName)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.UserDOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserAddress)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailConfirmed)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>       
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserFullName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.UserMName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserLName)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.UserDOBString)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserAddress)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |               
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
           
        </td>
    </tr>
}

</table>
