@using PagedList.Mvc;

@model PagedList.IPagedList<HospiceNiagara.Models.Announcement>

@{
    ViewBag.Title = "AdminList";
}

<h2>Announcements</h2>
<p>
    @Html.ActionLink("Create New", "adminCreate")
</p>
<table class="table">
    <tr>
        <th>
            Title
        </th>

        <th>
            Description
        </th>
       
        <th>
            End Date
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AnnounceTitle)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.AnnouncementTextTrimmed)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.AnnounceEndDateString)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

<div class="text-center">
    <div class="center-block">
        @Html.PagedListPager(Model, page => Url.Action("AdminList", new { page, pageSize = Model.PageSize }))
        Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount Announcements
    </div>
</div>