@model HospiceNiagara.Models.Announcement

@{
    ViewBag.Title = "Announcement Details";
}

<div class="col-sm-8">
    <div class="panel panel-success ">
        <div class="panel-heading">
            <h3 class="panel-title">@Model.AnnounceTitle</h3>
        </div>
        <div class="panel-body">
            <div class="text-center">
                @{
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            @{
                                var count = 0;
                                foreach (var f in Model.FileStorages)
                                {
                                    if (f.FileContent != null && f.MimeType.Contains("image"))
                                    {
                                        if (count == 0)
                                        {
                                            <div class="item active">
                                                @{
                                            string image64 = Convert.ToBase64String(f.FileContent);
                                            string imageSrc = string.Format("data:" + f.MimeType + ";base64, {0}", image64);
                                                }
                                                <img src="@imageSrc" />
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="item">
                                                @{
                                            string image64 = Convert.ToBase64String(f.FileContent);
                                            string imageSrc = string.Format("data:" + f.MimeType + ";base64, {0}", image64);
                                                }
                                                <img src="@imageSrc" />
                                            </div>
                                        }
                                        count++;
                                    }
                                }
                            }
                        </div>

                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                }
            </div>
            <div>
                @Html.Raw(Model.AnnounceText)
            </div>
            
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.AnnounceEndDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AnnounceEndDateString)
                </dd>

            </dl>
            <p class="text-center">
                @if (User.IsInRole("Administrator"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) <span>|</span>
                }
                @Html.ActionLink("Back to List", "Index")
            </p>
    </div>
</div>

</div>
<div class="col-sm-4">
    <div class="panel panel-success">
        <div class="panel-heading">
            Related Files
        </div>
        <div class="panel-body">
                <table class="table">
                    <tr>
                        @{
                          List<HospiceNiagara.ViewModels.FileStorageVM> files = ViewBag.FileStorages;
                          foreach (var f in files)
                          {
                                  @:</tr><tr>
                              @:<td>
                                    <a href=../../FileStorages/Download/@f.ID>@f.FileDescription</a>
                             @:</td>
                             @:<td>
                                    @f.FileName
                             @:</td>
                          }
                     @:</tr>
                        }
                </table>
        </div>
    </div>
</div>
    
