@model HospiceNiagara.Models.Announcement

@{
    ViewBag.Title = "Announcement Details";
}

<div class="col-sm-8">
    <div class="panel panel-success ">
        <div class="panel-heading">
            Announcement Details
        </div>
        <div class="panel-body">
            <div class="text-center">
                @{
                    foreach (var f in Model.FileStorages)
                    {
                        if (f.FileContent != null && f.MimeType.Contains("image"))
                        {
                            string image64 = Convert.ToBase64String(f.FileContent);
                            string imageSrc = string.Format("data:" + f.MimeType + ";base64, {0}", image64);
                            <img src="@imageSrc" width="85%" />
                        }
                    }
                }
            </div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.AnnounceText)
                </dt>

                <dd>
                    @Html.Raw(Model.AnnounceText)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AnnounceEndDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AnnounceEndDateString)
                </dd>

            </dl>
            <p class="text-center">
                @if (User.IsInRole("Administrator"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) <span>|</span>
                }
                @Html.ActionLink("Back to List", "Index")
            </p>
    </div>
</div>

</div>
<div class="col-sm-4">
    <div class="panel panel-success">
        <div class="panel-heading">
            Related Files
        </div>
        <div class="panel-body">
                <table class="table">
                    <tr>
                        @{
                          List<HospiceNiagara.ViewModels.FileStorageVM> files = ViewBag.FileStorages;
                          foreach (var f in files)
                          {
                                  @:</tr><tr>
                              @:<td>
                                    <a href=../../FileStorages/Download/@f.ID>@f.FileDescription</a>
                             @:</td>
                             @:<td>
                                    @f.FileName
                             @:</td>
                          }
                     @:</tr>
                        }
                </table>
        </div>
    </div>
</div>
    
