@*@model IEnumerable<HospiceNiagara.Models.Announcement>*@
@model HospiceNiagara.Models.Announcement
@*@{
    ViewBag.Title = "Index";
}*@

@* Div for entire page *@
<div class="container">
@*Div holding Announment List view and CRUD *@
    <div class="col-sm-6">
        <div class="panel panel-success ">
            <div class="panel-heading">
                <span id="announcmentsTitle">Announcments</span>
                <span id="newAnnouncmentTitle" hidden>New Announcment</span>
                <div id="glyphNewAnnouncment" class="glyphicon glyphicon-plus pull-right"></div>
            </div>
@* Announcement list view panel *@
            <div id="announcmentContent" class="panel-body">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.AnnounceText)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AnnounceEndDate)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in (IEnumerable<HospiceNiagara.Models.Announcement>)ViewData["AnnouncementOrEvent"])
                    {             
                       
                        @:<tr><td>
                                var url = Request.Url.PathAndQuery;
                                if(url.EndsWith("Announcement/Index"))
                                {                              
                                    <a href=Details/@item.ID>@Html.DisplayFor(modelItem => item.AnnounceText)</a>
                                }
                                else
                                {
                                    <a href=Announcement/Details/@item.ID>@Html.DisplayFor(modelItem => item.AnnounceText)</a>
                                }
                            <td>
                                @Html.DisplayFor(modelItem => item.AnnounceEndDate)
                            </td>
                    
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                            </td>
                    @:</tr>
                         
                       
                    }
                   

                </table>
            </div>
@* Create announcement panel *@
            <div id="newAnnouncmentContent" class="panel-body" hidden>
               
                  @using (Html.BeginForm())
                  {
                    @Html.AntiForgeryToken()
                      
                      <div class="form-horizontal">
                          @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">@Html.LabelFor(model => model.AnnounceText, htmlAttributes: new { @class = "" })</span>
                        @Html.EditorFor(model => model.AnnounceText, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                    @Html.ValidationMessageFor(model => model.AnnounceText, "", new { @class = "text-danger" })
                      
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">
                            @Html.LabelFor(model => model.AnnounceEndDate, htmlAttributes: new { @class = "" })
                        </span>
                        @Html.EditorFor(model => model.AnnounceEndDate, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.AnnounceEndDate, "", new { @class = "text-danger" })

                    <div class="form-group">
                        <label class="control-label col-md-2">Select Roles</label>
                        <div class="col-md-offset-2 col-md-10">
                            <table class="table">
                                <tr>
                                    @{
                                      int cnt = 0;
                                      List<HospiceNiagara.ViewModels.RoleVM> roles = ViewBag.RolesLists;
                                      foreach(var r in roles)
                                      {
                                          if (cnt++ % 2 == 0)
                                          {
                                            @:</tr><tr>
                                          }
                                          @:<td>
                                                <input type="checkbox"
                                                name="selectedRoles"
                                                value="@r.RoleID"
                                                @(Html.Raw(r.RoleAssigned ? "checked=\"checked\"" : "")) />
                                                @r.RoleName
                                         @:</td>
                                      }
                                 @:</tr>
                                    }
                                </table>
                            </div>
                        </div>
                          <div class="form-group">
                            <label class="control-label col-md-2">Related Files</label>
                            <div class="col-md-offset-2 col-md-10">
                            <table class="table">
                                <tr>
                                    @{
                                      int count = 0;
                                      List<HospiceNiagara.ViewModels.FileStorageVM> files = ViewBag.FileStorages;
                                      foreach (var f in files)
                                      {
                                            @:</tr><tr>
                          
                                          @:<td>
                                                <input type="checkbox"
                                                name="selectedFiles"
                                                value="@f.ID"
                                                @(Html.Raw(f.FileSelected ? "checked=\"checked\"" : "")) />
                                                @f.FileName
                                            @:</td>
                                            @:<td>
                                                @f.FileDescription
                                            @:</td>
                                      }
                                 @:</tr>
                                    }
                                </table>
                            </div>
                        </div>

                   <div class="btn-group">
                        <input type="submit" value="Create" name="CreateAnnouncement" class="btn btn-primary">
                    </div>
                    @Html.ActionLink("Cancel", "Index")
                      </div>
                  }       
            </div>
        </div>
    </div>

@* Div for Events list view and CRUD *@
    <div class="col-sm-6">
        <div class="panel panel-success ">
            <div class="panel-heading">
                <span id="eventsTitle">Events</span>
            </div>

@* Div for Event list view *@
            <div id="eventContent" class="panel-body">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Location
                        </th>
                        <th>
                            Starts
                        </th>
                        <th>
                            Ends
                        </th>
                    </tr>

                    @foreach (var item in (IEnumerable<HospiceNiagara.Models.Meeting>)ViewData["Meeting"])
                    {
                             @:<tr><td>
                                    <a href=../Meeting/Details/@item.ID>@Html.DisplayFor(modelItem => item.EventTitle)</a>
                                @:</td>
                                @:<td>
                                    @Html.DisplayFor(modelItem => item.EventDiscription)
                                @:</td>
                                @:<td>
                                    @Html.DisplayFor(modelItem => item.EventLocation)
                                @:</td>
                                @:<td>
                                    @Html.DisplayFor(modelItem => item.EventStart)
                                @:</td>
                                @:<td>
                                    @Html.DisplayFor(modelItem => item.EventEnd)
                                @:</td>
                            @:</tr>
                    }

            </table>
            </div>         
        </div>
    </div>
    <a href="~/DeathNotice/Index" type="button" id="deathnoticebutton" class="btn btn-default">Death Notices</a>
</div>

@Scripts.Render("~/bundles/jquery")

<script>
    $(document).ready(function () {
        $('#glyphNewAnnouncment').on('click', function () {
            $('#announcmentsTitle').slideToggle();
            $('#announcmentContent').slideToggle();
            $('#newAnnouncmentContent').slideToggle();
            $('#newAnnouncmentTitle').slideToggle();
            $('#glyphNewAnnouncment').fadeToggle();
        });
    });
</script>

