@model IEnumerable<HospiceNiagara.Models.Announcement>
@*@{
    ViewBag.Title = "Index";
}*@


<div class="container">
    <div class="col-sm-6">
        <div class="panel panel-success ">
            <div class="panel-heading">
                <span id="announcmentsTitle">Announcments</span>
                <span id="newAnnouncmentTitle" hidden>New Announcment</span>
                <div id="glyphNewAnnouncment" class="glyphicon glyphicon-plus pull-right"></div>
            </div>

            <div id="announcmentContent" class="panel-body" >
              
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.AnnounceText)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AnnounceEndDate)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.AnnounceText)
                            <td>
                                @Html.DisplayFor(modelItem => item.AnnounceEndDate)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                               
                            </td>
                        </tr>
                    }

                </table>
            </div>

            <div id="newAnnouncmentContent" class="panel-body" hidden>
                @*<div class="form-inline">*@
                    @*<div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Announcment</span>
                        <input type="text" class="form-control" placeholder="Name" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Description</span>
                        <input type="text" class="form-control" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Related Files</span>
                        <input type="text" class="form-control" aria-describedby="basic-addon1">
                        <button id="btnUploadEventFiles" class="btn btn-primary"><div class="glyphicon glyphicon-download-alt"></div></button>
                    </div>*@
                    @*<div class="btn-group">
                        <button id="btnAddAnnouncment" class="btn btn-primary">Add</button>
                        <button id="btnCancelAnnouncment" class="btn btn-default">Cancel</button>
                    </div>*@
                    @Html.Action("Create")                
                    
                    
                @*</div>*@

            </div>

        </div>

        
    </div>

    <div class="col-sm-6">
        <div class="panel panel-success ">
            <div class="panel-heading">
                <span id="eventsTitle">Events</span>
                <span id="newEventTitle" hidden>New Event</span>
                <div id="glyphNewEvent" class="glyphicon glyphicon-plus pull-right"></div>
            </div>

            <div id="eventContent" class="panel-body">
                <table class="table table-striped table-bordered">
                    <tr>
                        <td>Event</td>
                        <td>Description</td>
                        <td>Date</td>
                        <td>Location</td>
                        <td>RSVP</td>
                    </tr>
                    <tr>
                        <td>@Html.ActionLink("Annual Volunteer Retreat", "VolunteerEvent", "Announcement")</td>
                        <td>As part of our celebration of National Volunteer Week, Hospice Niagara is once again treating...</td>
                        <td>Saturday, April 20th</td>
                        <td>The Stabler Centre</td>
                        <td>
                            <div class="btn-group-vertical">
                                <button id="RSVP" class="btn btn-primary">Attending</button>
                                <button id="RSVPno" class="btn btn-default">Not Attending</button>
                            </div>
                        </td>
                    </tr>
                </table>
                <nav>
                    <ul class="pager">
                        <li><a href="#">Previous</a></li>
                        <li><a href="#">Next"</a></li>
                    </ul>
                </nav>
            </div>

            <div id="newEvent" class="panel-body" hidden>
                <div class="form-inline">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Event</span>
                        <input type="text" class="form-control" placeholder="Name" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Date</span>
                        <input type="text" class="form-control" placeholder="MM" aria-describedby="basic-addon1">
                        <span class="input-group-addon" id="basic-addon1">/</span>
                        <input type="text" class="form-control" placeholder="DD" aria-describedby="basic-addon1">
                        <span class="input-group-addon" id="basic-addon1">/</span>
                        <input type="text" class="form-control" placeholder="YYYY" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Location</span>
                        <input type="text" class="form-control" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Related Files</span>
                        <input type="text" class="form-control" aria-describedby="basic-addon1">
                        <button id="btnUploadEventFiles" class="btn btn-primary"><div class="glyphicon glyphicon-download-alt"></div></button>

                    </div>
                    <div class="btn-group">
                        <button id="btnAddEvent" class="btn btn-primary">Add</button>
                        <button id="btnCancelEvent" class="btn btn-default">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default ">
            <div class="panel-heading">
                <span id="deathNoticeTitle">Notices of Death</span>
                <span id="newDeathNoticeTitle" hidden>New Death Notice</span>
                <div id="glyphDeathHide" class="glyphicon glyphicon-collapse-down pull-right"></div>
                <div id="glyphDeathShow" class="glyphicon glyphicon-collapse-up pull-right"></div>
                <div id="glyphNewDeathNotice" class="glyphicon glyphicon-plus pull-right"></div>
            </div>
            <div id="panelDeathNoticeContent">
                <div id="deathNoticeContent" class="panel-body">
                    <table class="table table-striped table-bordered" style="width:100%;">
                        <tr><td>Name</td><td>Date</td><td>Location</td><td>Notes</td></tr>
                        <tr><td>Joe Smith</td><td>December 16, 2014</td><td>Community Client</td><td>Volunteer: Ted Tennant</td></tr>
                        <tr><td>Rachel Jones</td><td>December 14, 2014 </td><td>The Stabler Centre</td><td>Room 4</td></tr>
                        <tr><td>Mary Brown</td><td>December 8, 2014</td><td>NN Outreach Team</td><td>&nbsp;</td></tr>
                        <tr><td>Sally Williams</td><td>November 30, 2014</td><td>NS Outreach Team</td><td>&nbsp;</td></tr>
                    </table>
                </div>
                <div id="newDeathNotice" class="panel-body" hidden>
                    <div class="form-inline">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Name</span>
                            <input type="text" class="form-control" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Date</span>
                            <input type="text" class="form-control" placeholder="MM" aria-describedby="basic-addon1">
                            <span class="input-group-addon" id="basic-addon1">/</span>
                            <input type="text" class="form-control" placeholder="DD" aria-describedby="basic-addon1">
                            <span class="input-group-addon" id="basic-addon1">/</span>
                            <input type="text" class="form-control" placeholder="YYYY" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Location</span>
                            <input type="text" class="form-control" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Notes</span>
                            <input type="text" class="form-control" aria-describedby="basic-addon1">
                        </div>

                        <div class="btn-group">
                            <button id="btnAddDeathNotice" class="btn btn-primary">Add</button>
                            <button id="btnCancelDeathNotice" class="btn btn-default">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

@Scripts.Render("~/bundles/jquery")

<script>
    $(document).ready(function () {
        //Hides death notices by default
        $('#glyphDeathHide').hide();
        $('#glyphNewDeathNotice').hide();
        $('#panelDeathNoticeContent').hide();

        //Controls hiding and showing the death notices
        $('#glyphDeathHide').on('click', function () {
            $('#panelDeathNoticeContent').slideToggle();
            $('#glyphDeathHide').hide();
            $('#glyphDeathShow').toggle();
            $('#glyphNewDeathNotice').fadeToggle();
        });
        
        $('#glyphDeathShow').on('click', function () {
            $('#panelDeathNoticeContent').slideToggle();
            $('#glyphDeathShow').hide();
            $('#glyphDeathHide').show();
            $('#glyphNewDeathNotice').fadeToggle();
        });

        $('#glyphNewDeathNotice').on('click', function () {
            $('#deathNoticeTitle').slideToggle();
            $('#deathNoticeContent').slideToggle();
            $('#newDeathNotice').slideToggle();
            $('#newDeathNoticeTitle').slideToggle();
            $('#glyphNewDeathNotice').fadeToggle();
        });

        $('#btnAddDeathNotice').on('click', function () {
            $('#deathNoticeTitle').slideToggle();
            $('#deathNoticeContent').slideToggle();
            $('#newDeathNotice').slideToggle();
            $('#newDeathNoticeTitle').slideToggle();
            $('#glyphNewDeathNotice').fadeToggle();
        });

        $('#btnCancelDeathNotice').on('click', function () {
            $('#deathNoticeTitle').slideToggle();
            $('#deathNoticeContent').slideToggle();
            $('#newDeathNotice').slideToggle();
            $('#newDeathNoticeTitle').slideToggle();
            $('#glyphNewDeathNotice').fadeToggle();
        });

        $('#glyphNewEvent').on('click', function () {
            $('#eventsTitle').slideToggle();
            $('#eventContent').slideToggle();
            $('#newEvent').slideToggle();
            $('#newEventTitle').slideToggle();
            $('#glyphNewEvent').fadeToggle();
        });

        $('#btnAddEvent').on('click', function () {
            $('#eventsTitle').slideToggle();
            $('#eventContent').slideToggle();
            $('#newEvent').slideToggle();
            $('#newEventTitle').slideToggle();
            $('#glyphNewEvent').fadeToggle();
        });

        $('#btnCancelEvent').on('click', function () {
            $('#eventsTitle').slideToggle();
            $('#eventContent').slideToggle();
            $('#newEvent').slideToggle();
            $('#newEventTitle').slideToggle();
            $('#glyphNewEvent').fadeToggle();
        });

        $('#glyphNewAnnouncment').on('click', function () {
            $('#announcmentsTitle').slideToggle();
            $('#announcmentContent').slideToggle();
            $('#newAnnouncmentContent').slideToggle();
            $('#newAnnouncmentTitle').slideToggle();
            $('#glyphNewAnnouncment').fadeToggle();
        });

        //$('#btnAddAnnouncment').on('click', function () {
        //    //$('#announcmentsTitle').slideToggle();
        //    //$('#announcmentContent').slideToggle();
        //    //$('#newAnnouncmentContent').slideToggle();
        //    //$('#newAnnouncmentTitle').slideToggle();
        //    //$('#glyphNewAnnouncment').fadeToggle();
           
        //});

        //$('#btnCancelAnnouncment').on('click', function () {
        //    $('#announcmentsTitle').slideToggle();
        //    $('#announcmentContent').slideToggle();
        //    $('#newAnnouncmentContent').slideToggle();
        //    $('#newAnnouncmentTitle').slideToggle();
        //    $('#glyphNewAnnouncment').fadeToggle();
        //});
    });
</script>

