@model HospiceNiagara.Models.MeetingUserRSVP

@{
    ViewBag.Title = "Create";
    var meetingID = ViewBag.MeetingID;
}
<div id="theNewView">
    <h2>Invite Users</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group" hidden>
        <label class="control-label col-md-2">Select Event</label>
        <div class="col-md-offset-2 col-md-10">
            <table class="table">
                <tr>
                    @{
                        int c = 0;
                        List<HospiceNiagara.Models.Meeting> meet = ViewBag.Meeting;
                        foreach(var r in meet)
                        {
                            if (c++ % 2 == 0)
                            {
                            @:</tr><tr>
                            }
                            @:<td>
                                <input type="checkbox" name="selectedMeetings" value="@r.ID" checked/>@r.EventTitle;
                            @:</td>
                        }
                    @:</tr>
                    }
                </table>
            </div>
        </div>
            
        <div class="form-group">
        <label class="control-label col-md-2">Select Users</label>
        <div class="col-md-offset-2 col-md-10">
            <div>
                <input type="button" style="margin-bottom:4px;" class="btn btn-xs btn-default" value="Select All" id="btnCheckAllUsers" />
                @Html.DropDownList("roles", (IEnumerable<SelectListItem>)ViewBag.Roles, "All Roles", new { @id = "ddlRoles" } )
                @Html.ActionLink("Clear", "Create", new { id = ViewBag.MeetingID })
            </div>

            <table class="table">
                <tr>
                    @{
                        int ct = 0;
                        List<HospiceNiagara.Models.ApplicationUser> users = ViewBag.User;
                        foreach (var r in users)
                        {
                            if (ct++ % 2 == 0)
                            {
                            @:</tr><tr>
                            }
                            @:<td>
                                <input type="checkbox"
                                class="chkUsers"
                                name="selectedUsers"
                                value="@r.Id"
                                        />
                                @r.UserFullName
                            @:</td>
                        }
                    @:</tr>
                    }
                </table>
            </div>
        </div>
            
        <div class="form-group">
            @Html.LabelFor(model => model.AdminRequirements, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AdminRequirements, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AdminRequirements, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
                @Html.ActionLink("Return to Event", "../Meeting/Details/", new { id = ViewBag.MeetingID })
            </div>
        </div>
    </div>
}
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('#ddlRoles').change(function () {
                var selectedValue = $('#ddlRoles').val();
                $.ajax({
                    url: window.location.href,
                    data: {roles : selectedValue}, //parameters go here in object literal form
                    type: 'GET',
                    datatype: 'html',
                    success: function (data) { $('#ParentBody').html(data); },
                    error: function () { alert('Error Filtering Roles'); }
                });
            });

            $("#btnCheckAllUsers").click(function () {
                $(".chkUsers").attr('checked', true);
            });
        });
    </script>
}
