@model IEnumerable<HospiceNiagara.Models.MeetingUserRSVP>

@{
    ViewBag.Title = "Invitiations";
}


<div class="col-md-12">
    <div class="panel panel-success ">
        <div class="panel-heading">
            <span title="Invitiations" data-content="Here you can view all your invitations for currently pending events. Click on RSVP to leave your response, or click details to navigate to the events page for more details." class="glyphicon glyphicon-info-sign pull-right" data-toggle="popover" data-placement="bottom" data-trigger="hover"></span>
            <span id="RSVPTitle">Invitiations</span>            
        </div>
        @* Announcement list view panel *@
            <table class="table table-striped table-bordered">
                <tr>
                    <th>
                        Event
                    </th>
                    <th>
                        When
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ComingYorN)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RSVPNotes)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => item.MeetingRSVP.EventTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.MeetingRSVP.EventDateString)
                        </td>
                        <td>
                            @if(item.ComingYorN == true)
                            {
                                @:Yes
                            }
                            else if(item.ComingYorN == false)
                            {
                                @:No
                            }
                            else
                            {
                                @:No Response
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RSVPNotes)
                        </td>
                        <td>
                            @Html.ActionLink("RSVP", "Edit", new { id = item.ID }) |
                            @Html.ActionLink("Event Details", "../Meeting/Details/", new { id = item.MeetingRSVP.ID })
                        </td>
                    </tr>
                }

            </table>
     </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>
}