@model IEnumerable<HospiceNiagara.Models.SchedType>

@{
    ViewBag.Title = "Index";
}

<h2>Schedule Types</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SchedTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SchedTypeNote)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SchedTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SchedTypeNote)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
