@model HospiceNiagara.Models.StaffContact

@{
    ViewBag.Title = "Delete";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.ContUser.UserFullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContUser.UserFullName)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.ContUser.UserLName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContUser.UserLName)
        </dd>*@ 
        
        <dt>
            @Html.DisplayNameFor(model => model.ContUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContUser.Email)
        </dd>      
        
        <dt>
            @Html.DisplayNameFor(model => model.ContExten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContExten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContWorkCell)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContWorkCell)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
