@{
    ViewBag.Title = "Home Page";
}

<div id="homepage-body" class="container">
    <div class="col-sm-6">
        <div class="panel panel-success ">
            <div class="panel-heading">
                Announcements
            </div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>
                            Announcement
                        </th>
                        @if (User.IsInRole("Administrator"))
                        {
                        <th>
                            End Date
                        </th>
                        }
                        
                    </tr>

                    @foreach (var item in (IEnumerable<HospiceNiagara.Models.Announcement>)ViewData["AnnouncementOrEvent"])
                    {
                             @:<tr>
                                @:<td>
                                var url = Request.Url.PathAndQuery;
                                if(url.EndsWith("Home/Index"))
                                {                              
                                    <a href=../Announcement/Details/@item.ID>@Html.Raw(item.AnnounceText.Replace("\n", "<br />"))</a>
                                }
                                else if (url.EndsWith("Home"))
                                {
                                    <a href=../Announcement/Details/@item.ID>@Html.Raw(item.AnnounceText.Replace("\n", "<br />"))</a>
                                }
                                else
                                {
                                    <a href=Announcement/Details/@item.ID>@Html.Raw(item.AnnounceText.Replace("\n", "<br />"))</a>
                                }
                                @:</td>
                                if (User.IsInRole("Administrator"))
                                {
                                <td>
                                    @Html.DisplayFor(modelItem => item.AnnounceEndDateString)
                                </td>
                                }
                    @:</tr>
                        
                    }


                </table>
            </div>
        </div>


        <div class="panel panel-success ">
            <div class="panel-heading">
                <span id="eventsTitle">Upcoming Events</span>
            </div>

@* Div for Event list view *@
            <div id="eventContent" class="panel-body">
                <table class="table">
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Location
                        </th>
                        <th>
                            Day
                        </th>
                    </tr>

                    @foreach (var item in (IEnumerable<HospiceNiagara.Models.Meeting>)ViewData["Meeting"])
                    {
                        DateTime infivedays = DateTime.Today.AddDays(5);
                        if (item.EventStart < infivedays && item.EventEnd > DateTime.Today)
                        {
                              @:<tr><td>
                                    <a href=../Meeting/Details/@item.ID>@Html.DisplayFor(modelItem => item.EventTitle)</a>
                                @:</td>
                                @:<td>
                                    @Html.DisplayFor(modelItem => item.EventLocation)
                                @:</td>
                                @:<td>
                                    @Html.DisplayFor(modelItem => item.EventStart.DayOfWeek)
                                @:</td>
                            @:</tr>  
                        }
                             
                    }

            </table>
            </div>         
        </div>
    </div>

    <div class="col-sm-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <span id="welcomeTitle">Welcome</span>
            </div>
            <div id="welcomeContent" class="panel-body text-center">
                @{
                    HospiceNiagara.ViewModels.WelcomeNoticeVM wN = ViewBag.WelcomeNotice;
                    @Html.DisplayFor(model=>wN.WelocomeNotice)
                 }
            </div>
        </div>

        <div class="panel panel-success">
            <div class="panel-heading">
                Links
            </div>
            <div class="panel-body">
                <ul class="list media-list">
                    <li><a href="http://www.hospiceniagara.ca" target="_blank">Hospice Niagara Website</a></li>
                    <li><a href="http://www.hospiceniagara.ca/resources/default/index/" target="_blank">Hospice Niagara Newsletter</a></li>
                    <li><a href="http://www.hpceducation.ca" target="_blank">HPC Education Website</a></li>
                    <li><a href="https://www.hospiceniagara.ca/donations/donate.php" target="_blank">Hospice Niagara Online Donation Website</a></li>
                    <li><a href="https://www.facebook.com/pages/Hospice-Niagara/157424072710?ref=ts" target="_blank">Facebook</a></li>
                    <li><a href="https://twitter.com/HospiceNiagara" target="_blank">Twitter</a></li>
                    <li><a href="http://www.hikeforhospiceniagara.ca" target="_blank">Hike for Hospice Niagara Website</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="panel panel-success ">
            <div class="panel-heading">
                My Schedules
            </div>
            <div class="panel-body">
                <table class="table">
                            @foreach (var item in (IEnumerable<HospiceNiagara.Models.Schedule>)ViewData["Schedule"])
                            {
                                <tr>
                                    <td>
                                        <a target="_blank" href="https://@item.SchedLink">@Html.DisplayFor(modelItem => item.SchedName) </a>   
                                    </td>                   
                                </tr>
                            }
                        </table>
            </div>
        </div>
        
    </div>
</div>


<footer class="footer ">
    <div class="container">
        <div class="col-sm-6">
            <ul class="Contact-Information">
                <li><br /></li>
                <li>Hospice Niagara - The Staple Centre</li>
                <li>403 Ontario Street, Unit 2</li>
                <li>Tel: 905-984-8766</li>
                <li>Fax: 905-984-8242</li>
                <li>Web: <a href="www.hospiceniagara.ca">www.hospiceniagara.ca</a> </li>
            </ul>
        </div>
        <div class="copyright">
            <div class="pull-right">
                <p>&copy; @DateTime.Now.Year - Bottle Rocket Programming</p>
            </div>
        </div>
    </div>
</footer>

@Scripts.Render("~/bundles/jquery")

<script>
    $(document).ready(function () {
    });
</script>