@{
    ViewBag.Title = "Home Page";
}

<div id="homepage-body" class="container">
    <div class="col-sm-6">
        <div class="panel panel-success ">
            <div class="panel-heading">
                Announcements
            </div>
            <div class="panel-body">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>
                            Announcement
                        </th>
                        @*<th>
                            End Date
                        </th>*@
                    </tr>

                    @foreach (var item in (IEnumerable<HospiceNiagara.Models.Announcement>)ViewData["AnnouncementOrEvent"])
                    {
                        if (item.IsEvent == false)
                        {

                            @:<tr>
                                @:<td>
                                var url = Request.Url.PathAndQuery;
                                if(url.EndsWith("Home/Index"))
                                {                              
                                    <a href=../Announcement/Details/@item.ID>@Html.DisplayFor(modelItem => item.AnnounceText)</a>
                                }
                                else if (url.EndsWith("Home"))
                                {
                                    <a href=../Announcement/Details/@item.ID>@Html.DisplayFor(modelItem => item.AnnounceText)</a>
                                }
                                else
                                {
                                    <a href=Announcement/Details/@item.ID>@Html.DisplayFor(modelItem => item.AnnounceText)</a>
                                }
                                @:</td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.AnnounceEndDate)
                            </td>*@
                    @:</tr>
                        }
                    }


                </table>
            </div>
        </div>


        <div class="panel panel-success">
            <div class="panel-heading">
                Upcoming
            </div>
            <div class="panel-body">
                <table class="table table-striped table-bordered">
                    <tr>
                        <td>Name</td>
                        <td>Description</td>
                        <td>Date</td>
                        <td>Location</td>
                        <td>RSVP</td>
                    </tr>
                    <tr>
                        <td>@Html.ActionLink("Annual Volunteer Retreat", "VolunteerEvent", "Announcement")</td>
                        <td>As part of our celebration of National Volunteer Week, Hospice Niagara is once again treating...</td>
                        <td>Saturday, April 20th</td>
                        <td>The Stabler Centre</td>
                        <td>
                            <div class="btn-group-vertical">
                                <button id="RSVP" class="btn btn-primary">Attending</button>
                                <button id="RSVPno" class="btn btn-default">Not Attending</button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <span id="welcomeTitle">Welcome</span>
                <span id="editWelcomeTitle" hidden>Edit Welcome</span>
                <div id="glyphWelcomeEdit" class="glyphicon glyphicon-edit pull-right"></div>
            </div>
            <div id="welcomeContent" class="panel-body text-center">
                Welcome to the Hospice Niagara Portal!
            </div>
            <div id="editWelcomeContent" class="panel-body" hidden>
                <div>
                    <textarea id="editWelcomeContent" class="form-control" rows="4"></textarea>
                    <button id="btnUpdateWelcomeContent" class="btn btn-default">Update</button>
                </div>

            </div>
        
        
        </div>

        <div class="panel panel-success">
            <div class="panel-heading">
                Links
            </div>
            <div class="panel-body">
                <ul class="list media-list">
                    <li><a href="http://www.hospiceniagara.ca" target="_blank">Hospice Niagara Website</a></li>
                    <li><a href="http://www.hospiceniagara.ca/resources/default/index/" target="_blank">Hospice Niagara Newsletter</a></li>
                    <li><a href="http://www.hpceducation.ca" target="_blank">HPC Education Website</a></li>
                    <li><a href="https://www.hospiceniagara.ca/donations/donate.php" target="_blank">Hospice Niagara Online Donation Website</a></li>
                    <li><a href="https://www.facebook.com/pages/Hospice-Niagara/157424072710?ref=ts" target="_blank">Facebook</a></li>
                    <li><a href="https://twitter.com/HospiceNiagara" target="_blank">Twitter</a></li>
                    <li><a href="http://www.hikeforhospiceniagara.ca" target="_blank">Hike for Hospice Niagara Website</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="panel panel-success ">
            <div class="panel-heading">
                My Schedules
            </div>
            <div class="panel-body">
                <table class="table">
                            <tr>
                                <th>
                                    Schedule
                                </th>
                                <th>
                                    Start Date
                                </th>
                            </tr>
                            @foreach (var item in (IEnumerable<HospiceNiagara.Models.Schedule>)ViewData["Schedule"])
                            {
                                <tr>
                                    <td>
                                        <a target="_blank" href=@item.SchedLink>@Html.DisplayFor(modelItem => item.SchedName) </a>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SchedStartDate)
                                    </td>
                                </tr>
                            }
                        </table>
            </div>
        </div>
        
    </div>
</div>


<footer class="footer ">
    <div class="container">
        <div class="col-sm-6">
            <ul class="Contact-Information">
                <li><h3>Contact Information</h3></li>
                <li>Hospice Niagara - The Staple Centre</li>
                <li>403 Ontario Street, Unit 2</li>
                <li>Tel: 905-984-8766</li>
                <li>Fax: 905-984-8242</li>
                <li>Web: <a href="www.hospiceniagara.ca">www.hospiceniagara.ca</a> </li>
            </ul>
        </div>
        <div class="copyright">
            <div class="pull-right">
                <p>&copy; @DateTime.Now.Year - Bottle Rocket Programming</p>
            </div>
        </div>
    </div>
</footer>

@Scripts.Render("~/bundles/jquery")

<script>
    $(document).ready(function () {

        //Editing the Welcome Widget
        $('#glyphWelcomeEdit').on('click', function () {
            $('#welcomeContent').slideToggle();
            $('#editWelcomeContent').slideToggle();
            $('#editWelcomeTitle').slideToggle();
            $('#welcomeTitle').slideToggle();
            $('#glyphWelcomeEdit').fadeToggle();
        });

        $('#btnUpdateWelcomeContent').on('click', function () {
            $('#welcomeContent').slideToggle();
            $('#editWelcomeContent').slideToggle();
            $('#editWelcomeTitle').slideToggle();
            $('#welcomeTitle').slideToggle();
            $('#glyphWelcomeEdit').fadeToggle();
        });
    });
</script>