@{
    ViewBag.Title = "Home";
}

<div id="homepage-body" class="container">
    <div class="col-sm-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title" id="welcomeTitle">Welcome</h3>
            </div>
            <div id="welcomeContent" class="panel-body text-center">
                @{
                    HospiceNiagara.ViewModels.WelcomeNoticeVM wN = ViewBag.WelcomeNotice;
                    @Html.DisplayFor(model => wN.WelocomeNotice)
                }
            </div>
        </div>
        <div class="panel panel-success ">
            <div class="panel-heading">
                <span id="glyphAnnouncementInfo" class="glyphicon glyphicon-info-sign pull-right" data-toggle="popover" title="Announcements" data-placement="bottom" data-trigger="hover" data-content="Here you can view the five latest announcements. You can click on any announcement to navigate to it, or navigate to the announcements page by clicking the title of this panel"></span>
                <h3 class="panel-title"><a href="../Announcement" style ="color: inherit; text-decoration: none;">Latest Announcements</a></h3>
            </div>
            <ul class="list-group">
                @foreach (var item in (IEnumerable<HospiceNiagara.Models.Announcement>)ViewData["AnnouncementOrEvent"])
                {
                    @:<li class="list-group-item">

                    var url = Request.Url.PathAndQuery;
                    if (url.EndsWith("Home/Index"))
                    {
                        <a href=../Announcement/Details/@item.ID>@Html.DisplayFor(modelItem => item.AnnounceTitle)</a>
                    }
                    else if (url.EndsWith("Home"))
                    {
                        <a href=../Announcement/Details/@item.ID>@Html.DisplayFor(modelItem => item.AnnounceTitle)</a>
                    }
                    else
                    {
                        <a href=Announcement/Details/@item.ID>@Html.DisplayFor(modelItem => item.AnnounceTitle)</a>
                    }
                    @:</li>
                }
            </ul>
        </div>

        <div class="panel panel-success ">
            <div class="panel-heading">
                <span title="Meetings and Events" data-content="Here you can view meetings and events that are happening within the next week. You can click any meeting/event to navigate to it, or go to the Meetings and Events page by clicking the title of this panel" id="glyphMeetingInfo" class="glyphicon glyphicon-info-sign pull-right" data-toggle="popover" data-placement="bottom" data-trigger="hover"></span>
                <h3 class="panel-title"><a href="../Meeting" style="color: inherit; text-decoration: none;">Upcoming Events/Meetings</a></h3>
            </div>
            <table class="table">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Location
                    </th>
                    <th>
                        Day
                    </th>
                </tr>

                @foreach (var item in (IEnumerable<HospiceNiagara.Models.Meeting>)ViewData["Meeting"])
                {
                    @:<tr><td>
                        <a href=../Meeting/Details/@item.ID>@Html.DisplayFor(modelItem => item.EventTitle)</a>
                    @:</td>
                    @:<td>
                        @Html.DisplayFor(modelItem => item.EventLocation)
                    @:</td>
                    @:<td>
                        @Html.DisplayFor(modelItem => item.EventDate.DayOfWeek)
                    @:</td>
                    @:</tr>  
                }
            </table>      
        </div>

        <div class="panel panel-success ">
            <div class="panel-heading">
                <span id="glyphDeathHide" class="glyphicon glyphicon-collapse-down pull-right"></span>
                <span id="glyphDeathShow" class="glyphicon glyphicon-collapse-up pull-right"></span>
                <h3 class="panel-title"><a href="../DeathNotice" style="color: inherit; text-decoration: none;">Rest in Peace</a></h3>
            </div>
            <div id="panelDeathNoticeContent">
                <table class="table">
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Date
                        </th>
                        <th>
                            Location
                        </th>
                        <th>
                            Notes
                        </th>
                        <th>
                            Obituary
                        </th>
                    </tr>

                    @foreach (var item in (IEnumerable<HospiceNiagara.Models.DeathNotice>)ViewData["RecentlyPassed"])
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.DnFullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DnDateString)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.DnLocation)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DnNotes)
                            </td>
                            <td>
                                @if (!string.IsNullOrEmpty(item.DnLink) && item.DnLink.Contains("http"))
                                {<a href="@item.DnLink">Link</a>}
                                else if (!string.IsNullOrEmpty(item.DnLink))
                                {<a href="http://@item.DnLink">Read</a> }
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-6" style="padding-bottom:15px;">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="../../HomePage/1.jpg" alt="1">
                </div>

                <div class="item">
                    <img src="../../HomePage/2.jpg" alt="2">
                </div>

                <div class="item">
                    <img src="../../HomePage/3.jpg" alt="3">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div class="col-md-3">
        

        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class ="panel-title">Hospice Niagara Sites</h3>
            </div>
            <ul class="list-group text-center">
                <li class="list-group-item btn btn-default" onclick="window.open('http://www.hospiceniagara.ca/resources/default/index/');"><a style="text-decoration:none;">Hospice Niagara Newsletter</a></li>
                <li class="list-group-item btn btn-default" onclick="window.open('http://www.hpceducation.ca');"><a style="text-decoration:none;">HPC Education Website</a></li>
                <li class="list-group-item btn btn-default" onclick="window.open('https://www.hospiceniagara.ca/donations/donate.php');"><a style="text-decoration:none;">Hospice Niagara Online Donations</a></li>
                <li class="list-group-item btn btn-default" onclick="window.open('http://www.5cardraw.ca');"><a style="text-decoration:none;">5 Car Draw Website</a></li>
                <li class="list-group-item btn btn-default" onclick="window.open('http://www.hikeforhospiceniagara.ca');"><a style="text-decoration:none;">Hike for Hospice Niagara Website</a></li>
                <li class="list-group-item btn btn-default" onclick="window.open('http://www.logvolunteertime.com');"><a style="text-decoration:none;">Log Volunteer Time</a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-3">
        <div class="panel panel-success ">
            <div class="panel-heading">
                <span title="Schedules" data-content="Here you can view your schedules. Clicking on one navigates to it, or you can go to the schedules page by clicking the title of this panel" class="glyphicon glyphicon-info-sign pull-right" data-toggle="popover" data-placement="bottom" data-trigger="hover"></span>
                <h3 class="panel-title"><a href="../Schedule" style="color: inherit; text-decoration: none;">My Schedules</a></h3>
            </div>
            <ul class="list-group text-center">
                @foreach (var item in (IEnumerable<HospiceNiagara.Models.Schedule>)ViewData["Schedule"])
                {
                    <li  class="list-group-item btn btn-default" onclick="window.open('@item.SchedLink');">
                        <a style="text-decoration:none;">@Html.DisplayFor(modelItem => item.SchedName)</a>   
                    </li> 
                }
            </ul>
        </div>
        
        @if (User.IsInRole("Staff"))
        {
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">My Sites</h3>
                </div>
                <ul class="list-group text-center">
                    <li class="list-group-item btn btn-default" onclick="window.open('https://css.hr.ccim.on.ca/HospiceNiagara');"><a style="text-decoration:none;">Pay Statements - QHR Net</a></li>
                    <li class="list-group-item btn btn-default" onclick="window.open('https://portal.microsoftonline.com');"><a style="text-decoration:none;">Hospice Niagara Email Login</a></li>
                    <li class="list-group-item btn btn-default" onclick="window.open('https://onlineservices.greenshield.ca/planmember/AccessMgmt/Public/SignOn.aspx');"><a style="text-decoration:none;">Group Plan Benefits - Green Shield</a></li>
                    <li class="list-group-item btn btn-default" onclick="window.open('https://grsmembers.manulife.com/wps/myportal/grsmembers/HomeEN');"><a style="text-decoration:none;">Group RRSP - Manulife</a></li>
                    <li class="list-group-item btn btn-default" onclick="window.open('http://sumac.com/training/');"><a style="text-decoration:none;">Sumac Training</a></li>
                    <li class="list-group-item btn btn-default" onclick="window.open('http://www.infoanywhere.com');"><a style="text-decoration:none;">InfoAnywhere</a></li>
                </ul>
            </div>
        }
    </div>
</div>


<footer class="footer">
    <div class="container">
        <div id="footerRow" class="row">
            <div class="text-left col-md-4">
                <ul>
                    <li>Hospice Niagara - The Stabler Centre</li>
                    <li>403 Ontario Street, Unit 2</li>
                    <li>Tel: 905-984-8766</li>
                    <li>Fax: 905-984-8242</li>
                </ul>
            </div>
            <div id="link-images" class="col-md-4">
                <a href="https://hospiceniagara.ca/">
                    <img alt="Home" src="~/Resources/homeicon.png" />
                </a>
                <a href="https://twitter.com/HospiceNiagara">
                    <img alt="Home" src="~/Resources/twitter.png" />
                </a>
                <a href="https://www.facebook.com/pages/Hospice-Niagara/157424072710?ref=ts">
                    <img alt="Home" src="~/Resources/facebook.png" />
                </a>
            </div>
            <div class="text-right col-md-4 copyright">
                <div>
                    <p>&copy; @DateTime.Now.Year - Bottle Rocket Programming</p>
                </div>
            </div>
        </div>
    </div>
</footer>

<script>
    $(document).ready(function () {
        $('#glyphDeathHide').hide();
        $('#panelDeathNoticeContent').hide();

        $('#glyphDeathHide').on('click', function () {
            $('#panelDeathNoticeContent').slideToggle();
            $('#glyphDeathHide').hide();
            $('#glyphDeathShow').toggle();
        });

        $('#glyphDeathShow').on('click', function () {
            $('#panelDeathNoticeContent').slideToggle();
            $('#glyphDeathShow').hide();
            $('#glyphDeathHide').show();
        });

        $('[data-toggle="popover"]').popover();
        
    });
</script>