@{
    ViewBag.Title = "Home";
}

<div id="homepage-body" class="container">
    <div class="col-sm-6">
        <div class="panel panel-success ">
            <div class="panel-heading">
                <h3 class="panel-title"><a href="../Announcement" style ="color: inherit; text-decoration: none;">Announcements</a></h3>
            </div>
            <ul class="list-group">
                @foreach (var item in (IEnumerable<HospiceNiagara.Models.Announcement>)ViewData["AnnouncementOrEvent"])
                {
                        @:<li class="list-group-item">

                        var url = Request.Url.PathAndQuery;
                        if (url.EndsWith("Home/Index"))
                        {
                            <a href=../Announcement/Details/@item.ID>@Html.DisplayFor(modelItem => item.AnnounceTitle)</a>
                        }
                        else if (url.EndsWith("Home"))
                        {
                            <a href=../Announcement/Details/@item.ID>@Html.DisplayFor(modelItem => item.AnnounceTitle)</a>
                        }
                        else
                        {
                            <a href=Announcement/Details/@item.ID>@Html.DisplayFor(modelItem => item.AnnounceTitle)</a>
                        }
                    @:</li>
                }
            </ul>
        </div>


        <div class="panel panel-success ">
            <div class="panel-heading">
                <h3 class="panel-title"><a href="../Meeting" style="color: inherit; text-decoration: none;">Upcoming Events/Meetings</a></h3>
            </div>
            <table class="table">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Location
                    </th>
                    <th>
                        Day
                    </th>
                </tr>

                @foreach (var item in (IEnumerable<HospiceNiagara.Models.Meeting>)ViewData["Meeting"])
                {
                    @:<tr><td>
                        <a href=../Meeting/Details/@item.ID>@Html.DisplayFor(modelItem => item.EventTitle)</a>
                    @:</td>
                    @:<td>
                        @Html.DisplayFor(modelItem => item.EventLocation)
                    @:</td>
                    @:<td>
                        @Html.DisplayFor(modelItem => item.EventStart.DayOfWeek)
                    @:</td>
                    @:</tr>  
                }

        </table>      
        </div>
    </div>

    <div class="col-sm-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title" id="welcomeTitle">Welcome</h3>
            </div>
            <div id="welcomeContent" class="panel-body text-center">
                @{
                    HospiceNiagara.ViewModels.WelcomeNoticeVM wN = ViewBag.WelcomeNotice;
                    @Html.DisplayFor(model=>wN.WelocomeNotice)
                 }
            </div>
        </div>

        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class ="panel-title">Hospice Niagara Sites</h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item"><a href="http://www.hospiceniagara.ca/resources/default/index/" target="_blank">Hospice Niagara Newsletter</a></li>
                <li class="list-group-item"><a href="http://www.hpceducation.ca" target="_blank">HPC Education Website</a></li>
                <li class="list-group-item"><a href="https://www.hospiceniagara.ca/donations/donate.php" target="_blank">Hospice Niagara Online Donations</a></li>
                <li class="list-group-item"><a href="http://www.5cardraw.ca" target="_blank">5 Car Draw</a></li>
                <li class="list-group-item"><a href="http://www.hikeforhospiceniagara.ca" target="_blank">Hike for Hospice Niagara Website</a></li>
            </ul>
        </div>

        @*<div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Community Partner Sites</h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item"><a href="http://www.hpco.ca" target="_blank">Hospice Palliative Care Ontario</a></li>
                <li class="list-group-item"><a href="http://www.hnhblhin.on.ca/home.aspx" target="_blank">HNHB LHIN</a></li>
                <li class="list-group-item"><a href="http://www.health.gov.on.ca/en/" target="_blank">MOHLTC</a></li>
                <li class="list-group-item"><a href="http://healthcareathome.ca/hnhb/en" target="_blank">HNHB CCAC</a></li>
            </ul>
        </div>*@
    </div>

    <div class="col-sm-3">
        <div class="panel panel-success ">
            <div class="panel-heading">
                <h3 class="panel-title">My Schedules</h3>
            </div>
            <ul class="list-group">
                @foreach (var item in (IEnumerable<HospiceNiagara.Models.Schedule>)ViewData["Schedule"])
                {
                    <li  class="list-group-item">
                        <a target="_blank" href="@item.SchedLink">@Html.DisplayFor(modelItem => item.SchedName) </a>   
                    </li> 
                }
            </ul>
        </div>
        
        @if (User.IsInRole("Staff"))
        {
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">My Sites</h3>
                </div>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="https://css.hr.ccim.on.ca/HospiceNiagara" target="_blank">Pay Statements - QHR Net</a></li>
                        <li class="list-group-item"><a href="https://portal.microsoftonline.com" target="_blank">Hospice Niagara Email Login</a></li>
                        <li class="list-group-item"><a href="https://onlineservices.greenshield.ca/planmember/AccessMgmt/Public/SignOn.aspx" target="_blank">Group Plan Benefits - Green Shield</a></li>
                        <li class="list-group-item"><a href="https://grsmembers.manulife.com/wps/myportal/grsmembers/HomeEN" target="_blank">Group RRSP - Manulife</a></li>
                        <li class="list-group-item"><a href="http://sumac.com/training/" target="_blank">Sumac Training</a></li>
                        <li class="list-group-item"><a href="http://www.infoanywhere.com" target="_blank">InfoAnywhere</a></li>
                    </ul>
            </div>
        }
    </div>
</div>


<footer class="footer">
    <div class="container">
        <div id="footerRow" class="row">
            <div class="text-left col-md-4">
                <ul>
                    <li>Hospice Niagara - The Stabler Centre</li>
                    <li>403 Ontario Street, Unit 2</li>
                    <li>Tel: 905-984-8766</li>
                    <li>Fax: 905-984-8242</li>
                </ul>
            </div>
            <div id="link-images" class="col-md-4">
                <a href="https://hospiceniagara.ca/">
                    <img alt="Home" src="~/Resources/homeicon.png" />
                </a>
                <a href="https://twitter.com/HospiceNiagara">
                    <img alt="Home" src="~/Resources/twitter.png" />
                </a>
                <a href="https://www.facebook.com/pages/Hospice-Niagara/157424072710?ref=ts">
                    <img alt="Home" src="~/Resources/facebook.png" />
                </a>
            </div>
            <div class="text-right col-md-4 copyright">
                <div>
                    <p>&copy; @DateTime.Now.Year - Bottle Rocket Programming</p>
                </div>
            </div>
        </div>
    </div>
</footer>

@Scripts.Render("~/bundles/jquery")

<script>
    $(document).ready(function () {
    });
</script>