@model HospiceNiagara.Models.FileSubCat

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FileSubCat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FileSubCatName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileSubCatName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileCatFK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileCatFK)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
