@model IEnumerable<HospiceNiagara.Models.FileSubCat>

@{
    ViewBag.Title = "Index";
}

<h2>File Subcategories</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FileSubCatName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileCatFK)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FileSubCatName)
        </td>
        <td>
            @{
                HospiceNiagara.Models.ApplicationDbContext db = new HospiceNiagara.Models.ApplicationDbContext();
                var i = db.FileCats.Where(a => a.ID == item.FileCatFK).Single();
                @Html.DisplayFor(modelItem => i.FileCatName)
             }
           
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
