@*Chantal Gorski March 2015*@
@*Edited By Andreas King April 5*@

@using HospiceNiagara.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="LogInPage">
    <div id="LogInPanel" style="width:300px">
        <div class="panel panel-default">
            <div id="Panel-Body-Color" class="panel-body">
                <div id="spinner" class="center-block"></div><div id="loginText" class="text-center">Logging you in securely...</div>
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "form" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email"})
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <div class="col-md-12">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password"})
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <input id="btnLogin" type="submit" value="Log in" class="btn-info btn-sm" />
                        <button type="button" class="btn-danger btn-sm" onclick="location.href='@Url.Action("ForgotPassword", "Account")'">Forgot Password</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $("#bodyContent").css("padding-top", "111px");
            $("#spinner").hide();
            $("#loginText").hide();

            var form = $( "#form" );
            form.validate();

            $('#btnLogin').on('click', function () {
                if(form.valid() == true){
                    $("#form").slideToggle();
                    $("#spinner").slideToggle();
                    $("#loginText").slideToggle();
                }
            });

            var counter = 0;
            setInterval(function() {
                var frames=20; var frameWidth = 128;
                var offset=counter * -frameWidth;
                document.getElementById("spinner").style.backgroundPosition=offset + "px 0px";
                counter++; if (counter>=frames) counter =0;
            }, 100);
        });
    </script>
}