@model HospiceNiagara.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.UserFName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserFName, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.UserMName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserMName, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.UserLName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserLName, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.UserDOB, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserDOB, new { @class = "form-control datecontrol" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.UserAddress, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserAddress, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    
    <div class="form-group">
    <label class="control-label col-md-2">Select Roles</label>
    <div class="col-md-offset-2 col-md-10">
        <table class="table">
            <tr>
                @{
                    int cnt = 0;
                    List<HospiceNiagara.ViewModels.RoleVM> roles = ViewBag.RolesLists;
                    foreach(var r in roles)
                    {
                        if(r.IsPerm == false)
                        {
                            if (cnt++ % 2 == 0)
                            {
                            @:</tr><tr>
                            }
                            @:<td>
                                <input type="checkbox"
                                name="selectedRoles"
                                value="@r.RoleID"
                                @(Html.Raw(r.RoleAssigned ? "checked=\"checked\"" : "")) />
                                @r.RoleName
                            @:</td>
                        }
                                          
                    }
                @:</tr>
                }
            </table>
        </div>
    </div>
    
    if(User.IsInRole("Administrator") || User.IsInRole("Assign User Permissions"))
    {
        <div class="form-group">
            <label class="control-label col-md-2">Permissions</label>
            <div class="col-md-offset-2 col-md-10">
                <table class="table">
                    <tr>
                        @{
                            cnt = 0;
                            foreach (var r in roles)
                            {
                                if(r.IsPerm == true)
                                {
                                    if (cnt++ % 2 == 0)
                                {
                                    @:</tr><tr>
                                }
                                    @:<td>
                                            <input type="checkbox"
                                            name="selectedRoles"
                                            value="@r.RoleID"
                                            @(Html.Raw(r.RoleAssigned ? "checked=\"checked\"" : "")) />
                                            @r.RoleName
                                    @:</td>
                                }
                            }
                        }
                    </tr>
                </table>
            </div>
        </div>
    }
    
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Register" />
            @Html.ActionLink("Cancel", "../Admin")
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $("[name='selectedRoles']").bootstrapSwitch();
        });
    </script>
}
