@model IEnumerable<HospiceNiagara.Models.Meeting>

@{
    ViewBag.Title = "AdminList";
}

<h2>Event List</h2>

<p>
    @Html.ActionLink("Create New", "adminCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventDiscription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventRequirments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventLinks)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventDiscription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventRequirments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventLinks)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID })
            @Html.ActionLink("Details", "Details", new { id=item.ID })
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
