@model HospiceNiagara.Models.Meeting

@{
    ViewBag.Title = "Details";
}
<div class="col-sm-8">
    <div class="panel panel-success ">
        <div class="panel-heading">
           @Html.DisplayFor(model => model.EventTitle)
        </div>
        <div class="panel-body">
            <div id="storageimage">
                @{
                    foreach (var f in Model.FileStores)
                    {
                        if (f.FileContent != null && f.MimeType.Contains("image"))
                        {
                            string image64 = Convert.ToBase64String(f.FileContent);
                            string imageSrc = string.Format("data:" + f.MimeType + ";base64, {0}", image64);
                            <img src="@imageSrc" width="85%" />
                        }
                    }
                }
            </div>
            <dl class="dl-horizontal col-md-11">
                <dt>
                    @Html.DisplayNameFor(model => model.EventDiscription)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EventDiscription)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EventLocation)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EventLocation)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EventStartString)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EventStartString)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EventEndString)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EventEndString)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EventRequirments)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EventRequirments)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EventLinks)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EventLinks)
                </dd>

            </dl>
        </div>


    </div>
    

        <p class="text-center">
            @if (User.IsInRole("Administrator"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) <span>|</span>
            }
            @Html.ActionLink("Back to List", "Index")
        </p>

    </div>
<div class="col-sm-4">
    <div class="panel panel-success">
        <div class="panel-heading">
            Related Files
        </div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    @{
                        List<HospiceNiagara.ViewModels.FileStorageVM> files = ViewBag.FileStorages;
                        foreach (var f in files)
                        {
                            @:</tr><tr>
                            @:<td>
                                <a href=../../FileStorages/Download/@f.ID>@f.FileName</a>
                                @:</td>
                            @:<td>
                                @f.FileDescription
                                @:</td>
                        }
                        @:</tr>
                    }
                </table>
            </div>
        </div>
    </div>