@model HospiceNiagara.Models.Meeting

@{
    ViewBag.Title = "Details";
}

<h2 class="page-header">Details</h2>

<div class="col-sm-8">
    <div class="panel panel-success ">
        <div class="panel-heading">
            Meetings
        </div>
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.EventTitle)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EventTitle)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EventDiscription)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EventDiscription)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EventLocation)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EventLocation)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EventStart)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EventStart)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EventEnd)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EventEnd)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EventRequirments)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EventRequirments)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EventLinks)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EventLinks)
                </dd>

            </dl>
        </div>


    </div>
    

        <p class="text-center">
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>

    </div>
<div class="col-sm-4">
    <div class="panel panel-success">
        <div class="panel-heading">
            Related Files
        </div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    @{
                        List<HospiceNiagara.ViewModels.FileStorageVM> files = ViewBag.FileStorages;
                        foreach (var f in files)
                        {
                            if (f.FileSelected.Equals(true))
                            {
                                @:</tr><tr>
                                @:<td>
                                    <a href=../../FileStorages/Download/@f.ID>@f.FileName</a>
                                    @:</td>
                                @:<td>
                                    @f.FileDescription
                                    @:</td>
                                     }
                        }
                        @:</tr>
                    }
                </table>
            </div>
        </div>
    </div>