@model HospiceNiagara.Models.MeetingOrEvent

@{
    ViewBag.Title = "Index";
}
@* Limits content to 10/12 units *@
<div class="col-sm-10">
    @* Meeting Panel *@
    <div class="panel panel-success">
        @* Panel Heading *@
        <div class="panel-heading">
            <span id="EventsTitle">Events</span>
            <span id="newMeetingEventTitle" hidden>New Event</span>
            <div id="glyphAddEvent" class="glyphicon glyphicon-plus pull-right"></div>
        </div>
        @* Ask Chantal *@
        <div id="Event">
            @* Main Body *@
            <div class="panel-body" id="EventPanel">
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.EventTitle)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EventDiscription)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EventLocation)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EventStart)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EventEnd)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EventRequirments)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EventLinks)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in (IEnumerable<HospiceNiagara.Models.MeetingOrEvent>)ViewData["Meeting"])
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.EventTitle)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EventDiscription)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EventLocation)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EventStart)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EventEnd)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EventRequirments)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EventLinks)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                            </td>
                        </tr>
                    }

                </table>
            </div>
            @* New Meeting Body *@
            <div class="panel-body" id="NewEvent" hidden>
                
            </div>            
        </div>
    </div>
</div>

<div class="col-sm-4" id="panelEventDesc" hidden>
    <div class="panel panel-success">
        <div class="panel-heading">
            Description
        </div>
        <div class="panel-body">
            <p>

            </p>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")

<script>
    $(document).ready(function () {
        $('#glyphAddEvent').on('click', function () {
            $('#EventsTitle').slideToggle();
            $('#EventPanel').slideToggle();
            $('#NewEvent').slideToggle();
            $('#newMeetingEventTitle').slideToggle();
            $('#glyphAddEvent').fadeToggle();
        });

        $('#btnAddNewEvent').on('click', function () {
            $('#EventsTitle').slideToggle();
            $('#EventPanel').slideToggle();
            $('#NewEvent').slideToggle();
            $('#newMeetingEventTitle').slideToggle();
            $('#glyphAddEvent').fadeToggle();
        });

        $('#btnCancelNewEvent').on('click', function () {
            $('#EventsTitle').slideToggle();
            $('#EventPanel').slideToggle();
            $('#NewEvent').slideToggle();
            $('#newMeetingEventTitle').slideToggle();
            $('#glyphAddEvent').fadeToggle();
        });
        $(document).ready(function () {
            $('#glyphEventDesc').on('click', function () {
                $('#panelEventDesc').slideToggle();
            });
        });
    });
</script>