@model IEnumerable<HospiceNiagara.Models.BoardContact>

@{
    ViewBag.Title = "AdminList";
}

<h2>AdminList</h2>

<p>
    @Html.ActionLink("Create New", "adminCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BoardContPosition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BoardContHomeAddy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BoardContWorkAddy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BoardContHomePhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BoardContWorkPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BoardContCellPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BoardContFaxNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BoardContPartnerName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BoardContPosition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BoardContHomeAddy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BoardContWorkAddy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BoardContHomePhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BoardContWorkPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BoardContCellPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BoardContFaxNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BoardContPartnerName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
