@model HospiceNiagara.Models.BoardContact

@{
    ViewBag.Title = "Details";
}

<div class="col-sm-8">
    <div class="panel panel-success ">
        <div class="panel-heading">
            Board Contact Information
        </div>
        <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.AppUser.UserFullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AppUser.UserFullName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.BoardContPosition)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BoardContPosition)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AppUser.UserAddress)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AppUser.UserAddress)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BoardContWorkAddy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BoardContWorkAddy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AppUser.PhoneNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AppUser.PhoneNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BoardContWorkPhone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BoardContWorkPhone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BoardContCellPhone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BoardContCellPhone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BoardContFaxNum)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BoardContFaxNum)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BoardContPartnerName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BoardContPartnerName)
            </dd>

        </dl>
    </div>
    <p class="text-center">
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    </div>
</div>
