@model HospiceNiagara.Models.BoardContact
@*Andreas King March 2015*@
@{
    ViewBag.Title = "Index";
}

<div class="col-sm-8">
    <div class="panel panel-success ">
        <div class="panel-heading">
            <span id="ContactsTitle">Contacts</span>
            <span id="newContactTitle" hidden>New Contact</span>
            <div id="glyphAddContact" class="glyphicon glyphicon-plus pull-right"></div>
        </div>
        <div class="panel-body" id="ContactPanel">
            <table class="table table-striped table-bordered" style="width:100%;">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.BoardContPosition)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BoardContHomeAddy)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BoardContWorkAddy)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BoardContHomePhone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BoardContWorkPhone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BoardContCellPhone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BoardContFaxNum)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BoardContPartnerName)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in (IEnumerable<HospiceNiagara.Models.BoardContact>)ViewData["Contact"])
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.BoardContPosition)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BoardContHomeAddy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BoardContWorkAddy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BoardContHomePhone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BoardContWorkPhone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BoardContCellPhone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BoardContFaxNum)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BoardContPartnerName)
                        </td>
                        <td>
                            @Html.ActionLink("Job Description", "Index", new { id = item.ID })
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                        </td>
                    </tr>
                }
            </table>
        </div>

        @* New Contact Body *@
        <div class="panel-body" id="NewContact" hidden>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>BoardContact</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.BoardContPosition, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.BoardContPosition, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.BoardContPosition, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BoardContHomeAddy, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.BoardContHomeAddy, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.BoardContHomeAddy, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BoardContWorkAddy, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.BoardContWorkAddy, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.BoardContWorkAddy, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BoardContHomePhone, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.BoardContHomePhone, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.BoardContHomePhone, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BoardContWorkPhone, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.BoardContWorkPhone, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.BoardContWorkPhone, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BoardContCellPhone, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.BoardContCellPhone, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.BoardContCellPhone, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BoardContFaxNum, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.BoardContFaxNum, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.BoardContFaxNum, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BoardContPartnerName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.BoardContPartnerName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.BoardContPartnerName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Job Descriptions</label>
                        <div>
                            <table>
                                <tr>
                                    <th>
                                        Job Name
                                    </th>
                                    <th>
                                        Job Description
                                    </th>
                                    <th>
                                        Select
                                    </th>
                                </tr>
                                <tr>
                                    @{
                                        int count = 0;
                                        List<HospiceNiagara.ViewModels.JobDescVM> jobs = ViewBag.JobDescriptions;
                                        foreach (var j in jobs)
                                        {
                                            if (count++ % 1 == 0)
                                              {
                                                @:</tr><tr>
                                              }
                                             @:<td>
                                                    @j.JobName
                                             @:</td>
                                             @:<td>
                                                    @j.JobDesc
                                             @:</td>
                                              @:<td>
                                                    <input type="checkbox" name="selectedRoles" value="@j.JobID" @(Html.Raw(j.JobAssigned ? "checked=\"checked\"" : "")) />
                                             @:</td>

                                        }
                                    @:</tr>
                                    }
                            </table>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" name="CreateContact" class="btn btn-default" />
                            @Html.ActionLink("Cancel", "Index")
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="col-sm-4" id="panelPositionDesc">
    <div class="panel panel-success">
        <div class="panel-heading">
            About this position
        </div>
        <div class="panel-body">
            <div>
                <h4>BoardContact</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.BoardContPosition)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.BoardContPosition)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.BoardContHomeAddy)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.BoardContHomeAddy)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.BoardContWorkAddy)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.BoardContWorkAddy)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.BoardContHomePhone)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.BoardContHomePhone)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.BoardContWorkPhone)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.BoardContWorkPhone)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.BoardContCellPhone)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.BoardContCellPhone)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.BoardContFaxNum)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.BoardContFaxNum)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.BoardContPartnerName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.BoardContPartnerName)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")

<script>
    $(document).ready(function () {
        $('#glyphAddContact').on('click', function () {
            $('#ContactsTitle').slideToggle();
            $('#ContactPanel').slideToggle();
            $('#NewContact').slideToggle();
            $('#newContactTitle').slideToggle();
            $('#glyphAddContact').fadeToggle();
        });
    });
</script>