@using HospiceNiagara.Models
@using HospiceNiagara.Extentions

@*Andreas King April 2015*@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hospice Niagara Portal</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link rel="Stylesheet" type="text/css" href="~/Content/jHtmlArea/jHtmlArea.css" />
    <script type="text/javascript" src="~/Scripts/jHtmlArea-0.8.js"></script>
    <link href="~/Content/bootstrap-switch.css" rel="stylesheet">
    <script type="text/javascript" src="~/Scripts/bootstrap-switch.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-64355120-1', 'auto');
    ga('send', 'pageview');

    </script>
    @RenderSection("scripts", required: false)
</head>
<body id="ParentBody">
    <div id="navbar" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="../../Home">
                        <img alt="Brand" src="~/Resources/Hospice-Niagara's-LOGO_Navbar.gif" />
                    </a>
                    <button id="navbarButton" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Hospice Niagara Portal", "Index", "Home", new { area = "" }, new { @class = "navbar-brand brandName", @id="brandName" , @style = "color:white;" })
                </div>
                
                @{
                    HospiceNiagara.Models.ApplicationDbContext db = new HospiceNiagara.Models.ApplicationDbContext();
                    var cU = User.Identity.Name;
                    ApplicationUser u = new ApplicationUser();
                    if (cU != null && cU != "")
                    {
                        u = db.Users.Where(i => i.UserName == cU).Single();
                    }

                    if (User.Identity.IsAuthenticated && u.PasswordChanged)
                    {
                        <div class="navbar-collapse navbar-down-right navbar-right collapse nav-text">
                            <ul class="nav navbar-nav nav-text">
                                <li class='@Html.IsActive("Home", "Index")'>@Html.ActionLink("Home", "Index", "Home", null, new { style = "color:white" })</li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle @Html.IsActive("Announcement", "Index")  @Html.IsActive("DeathNotice", "Index")" style="color:white;" data-toggle="dropdown" role="button" aria-expanded="false">News <span class="caret"></span></a>
                                    <ul class="dropdown-menu navbar-default" role="menu">
                                        <li class='@Html.IsActive("Announcement", "Index")'>@Html.ActionLink("Announcements", "Index", "Announcement", null, new { style = "color:white" })</li>
                                        <li class='@Html.IsActive("DeathNotice", "Index")'>@Html.ActionLink("Rest in Peace", "Index", "DeathNotice", null, new { style = "color:white" })</li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle @Html.IsActive("Meeting", "Index")  @Html.IsActive("MeetingUserRSVPs", "Index")" style="color:white;" data-toggle="dropdown" role="button" aria-expanded="false">Meetings/Events @Html.Action("GetCount", "MeetingUserRSVPs")<span class="caret"></span></a>
                                    <ul class="dropdown-menu navbar-default" role="menu">
                                        <li class='@Html.IsActive("Meeting", "Index")'>@Html.ActionLink("Meetings/Events", "Index", "Meeting", null, new { style = "color:white" })</li>
                                        <li class='@Html.IsActive("MeetingUserRSVPs", "Index")'><a href="../../MeetingUserRSVPs/" style="color:white"><span class="pull-right">@Html.Action("GetCount", "MeetingUserRSVPs")</span>Invitations</a> </li>
                                    </ul>
                                </li>
                                <li class='@Html.IsActive("FileStorages", "Index")'>@Html.ActionLink("Resources", "Index", "FileStorages", null, new { style = "color:white" })</li>
                                <li class='@Html.IsActive("Schedule", "Index")'>@Html.ActionLink("Schedules", "Index", "Schedule", null, new { style = "color:white" })</li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle @Html.IsActive("Contacts", "Index")" style="color:white;" data-toggle="dropdown" role="button" aria-expanded="false">Contacts<span class="caret"></span></a>
                                    <ul class="dropdown-menu navbar-default" role="menu">
                                        <li class='@Html.IsActive("Contacts", "Index")'>@Html.ActionLink("View Contacts List", "Index", "Contacts", null, new { style = "color:white" })</li>
                                        <li>@Html.ActionLink("Export Contact List", "ExportContacts", "Contacts", null, new { style = "color:white" })</li>
                                    </ul>
                                </li>

                                @if (User.IsInRole("Administrator") || User.IsInRole("Manage Users"))
                                {
                                    <li class='@Html.IsActive("Admin", "Index")'>@Html.ActionLink("Admin ", "Index", "Admin", null, new { style = "color:white" })</li>
                                }
                            </ul>
                        </div>
                    }
                }
                <div id="LogInPartial" class="nav navbar-nav navbar-fixed-top">
                    @Html.Partial("_LoginPartial")
                </div>
                </div>
            </div>
    <div id="bodyContent" class="container">
        @RenderBody()
        <footer class="footer navbar-fixed-bottom" hidden>
            <div class="container">
                <div class="col-sm-6">
                    <ul class="Contact-Information">
                        <li>Hospice Niagara - The Stabler Centre</li>
                        <li>403 Ontario Street, Unit 2</li>
                        <li>Tel: 905-984-8766</li>
                        <li>Fax: 905-984-8242</li>
                    </ul>
                </div>
                <div class="copyright">
                    <div class="pull-right">
                        <p>&copy; @DateTime.Now.Year - Bottle Rocket Programming</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>