@model IEnumerable<HospiceNiagara.Models.FileStorage>

<ul class="search-result-list list-group">
    @foreach (var item in Model)
    {
        <li class="search-result-item list-group-item" data-file-id="@item.ID">@Html.DisplayFor(modelItem => item.FileDescription) (@Html.DisplayFor(modelItem => item.FileUploadDate))</li>
    }
</ul>

@*
    The below is another possible (more detailed) way to show your results.

    Its up to you whether you want to use it, it just depends on your preference, your available space and whether you want to
    go to the trouble of using CSS to properly format it. Personally, I would at least show the file name and date.

    <ul class="search-result-item" data-file-id="@item.ID">
        <div class="row">
            <div class="col-md-6"><strong>@Html.DisplayFor(modelItem => item.FileName)</strong></div>
            <div class="col-md-6"><small><em>@Html.DisplayFor(modelItem => item.FileUploadDate)</em></small></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.DisplayFor(modelItem => item.FileDescription)
            </div>
        </div>
    </ul>
*@
    
@* 
    #Commenting the below out in case they become useful in the future

    @Html.DisplayFor(modelItem => item.FileContent)
    @Html.DisplayFor(modelItem => item.MimeType)
*@
