@model HospiceNiagara.Models.FileStorage

@{
    ViewBag.Title = "Details";
}

<h2 class="page-header">Details</h2>

<div class="col-sm-8">
    <div class="panel panel-success ">
        <div class="panel-heading">
            File Storage
        </div>
        <div>
            <div id="storageimage">

                @{
                    if (Model.FileContent != null && Model.MimeType.Contains("image"))
                    {
                        string image64 = Convert.ToBase64String(Model.FileContent);
                        string imageSrc = string.Format("data:" + Model.MimeType + ";base64, {0}", image64);
                        <img src="@imageSrc" width="300" height="300" />
                    }
                }
            </div>
            <div id="fileinformation">
                <dl class="dl-horizontal">

                    <dt>
                        @Html.DisplayNameFor(model => model.FileDescription)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FileDescription)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FileName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FileName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MimeType)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MimeType)
                    </dd>

                </dl>
            </div>
        </div>
        <p class="text-center">
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>
        
