@model HospiceNiagara.Models.FileStorage

@{
    ViewBag.Title = "Details";
}

<div class="col-sm-8">
    <div class="panel panel-success ">
        <div class="panel-heading">
            File Details
        </div>
        <div class="panel-body">
                @{
                    if (Model.MimeType.Contains("image"))
                    {
                        <img style="width:100%" src="~/Uploads/@Model.FileName"/>
                    }
                }
            <div id="fileinformation">
                <dl class="dl-horizontal">

                    <dt>
                        @Html.DisplayNameFor(model => model.FileDescription)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FileDescription)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FileName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FileName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MimeType)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MimeType)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FileUploadDateString)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FileUploadDateString)
                    </dd>

                </dl>
            </div>
        </div>
        <p class="text-center">
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>
        
