@model HospiceNiagara.Models.FileStorage

@{
    ViewBag.Title = "Resources";
}

@* Paul Boyko March 2015 *@

<div class="container">
    @*Initialize filters and gets current url*@
    @{
        List<HospiceNiagara.ViewModels.FileCatVM> cat = ViewBag.Cat;
        List<HospiceNiagara.ViewModels.FileSubCatVM> subCat = ViewBag.FileSubCat;
        var url = Request.Url.PathAndQuery;
     }
     
    @*Column for the File Window*@
    <div class="col-md-8">
        <div class="panel panel-info">

            @*Panel Header*@
            <div class="panel-heading">
                @if (User.IsInRole("Administrator") || User.IsInRole("Upload Resources"))
                {
                    <span id="glyphNewFile" class="glyphicon glyphicon-plus pull-left"></span>
                }
                <span title="Resources" data-content="Here you can view all the files in the system. You can search by file name or the description it was given. You can also click the tags on the left to filter results, and then further search with that filter applied. Clicking clear removes all filters and resets the search." class="glyphicon glyphicon-info-sign pull-right" data-toggle="popover" data-placement="bottom" data-trigger="hover"></span>
                <span id="fileListTitle">Files</span>
                <span id="newFileListTitle" hidden>Upload Files</span>
                
                @{
                    HospiceNiagara.ViewModels.SearchDisplayVM dsply = ViewBag.SearchCat;
                    if(dsply != null)
                    {
                        <span id="fileSearchText">@Html.Raw("Search: " + dsply.SeachCatName + "/" + dsply.SearchSubCatName)</span>
                    }
                    else
                    {
                        <span id="fileSearchText">Search</span>
                    }
}
            </div>

            @*Panel Body for Main Content*@
            <div id="fileContent" class="panel-body">
                <div class="panel-body-toolbar form-inline center-block" >
                    @using (Html.BeginForm())
                    { 
                        <div class="input-group">
                            @Html.TextBox("searchString", null, new { @class = "form-control", @placeholder = "Search by File Name or Description", @id="txtFileSearch" })
                            <span class="input-group-btn">
                                <input type="submit" value="Search" class="btn btn-primary" id="btnSearch" />
                                @Html.ActionLink("Clear", "Index", new { id = 0 }, new { @class = "btn btn-default" , @style = "width:100px" })
                            </span>
                        </div>
                    }
                </div>
            </div>
            <table id="fileTable" class="table table-striped" style="width:100%;">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FileDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FileName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FileUploadDateString)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in (IEnumerable<HospiceNiagara.Models.FileStorage>)ViewData["Files"])
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FileDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FileName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FileUploadDateString)
                        </td>
                        <td>
                            @Html.ActionLink("Download", "Download", new { id = item.ID })
                            @if (User.IsInRole("Administrator"))
                            {
                                <br />
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                                @:|
                                @Html.ActionLink("Details", "Details", new { id = item.ID })
                                @:|
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                            }
                        </td>
                    </tr>
                }
            </table>

            @*Panel Body for Uploading a New File*@
            <div id="newFileContent" class="panel-body" hidden>
                @using (Html.BeginForm("", "FileStorages", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <label class="control-label" style="padding-left:15px" for="fileDescription">Description</label>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.FileDescription, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FileDescription, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="file" name="FileUpload" class="" />
                                @Html.ValidationMessageFor(model => model.FileName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @if (User.IsInRole("Administrator"))
                        {
                            <div class="form-group">
                                <label class="control-label" style="padding-left:15px" for="HomeImage">Use as a Homescreen Image</label>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.HomeImage, "", new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        }
                        
                        <div class="form-group">
                            <label class="control-label" style="padding-left:15px">Visible to</label>
                            <div class="col-md-12">
                                <table class="table">
                                    <tr>
                                    @{
                                        int cnt = 0;
                                        List<HospiceNiagara.ViewModels.RoleVM> roles = ViewBag.RolesLists;
                                        foreach(var r in roles)
                                        {
                                            if (cnt++ % 2 == 0)
                                            {
                                                @:</tr><tr>
                                            }
                                            @:<td>
                                                <input type="checkbox"
                                                class="chkRoles"
                                                name="selectedRoles"
                                                value="@r.RoleID"
                                                @(Html.Raw(r.RoleAssigned ? "checked=\"checked\"" : "")) />
                                                <br />
                                                <div class="text-left">
                                                    @Html.DisplayFor(modelItem => r.RoleName)
                                                </div>
                                            @:</td>         
                                        }
                                        @:</tr>
                                    }
                            </table>
                            </div>
                        </div>
                        @*<h4>Categories</h4>*@
                        @foreach (var cats in cat)
                        {
                            @:<div class="form-group">
                                <label class="control-label" style="padding-left:15px">@Html.DisplayFor(modelItem => cats.FileCatName)</label>
                                <table class="table">
                                    @foreach (var sc in subCat)
                                    {
                                        if (cats.ID == sc.FileCatFK)
                                        {
                                            <tr>
                                                <td style="padding-left:15px; width:50%;">
                                                    @sc.FileSubCatName
                                                </td>
                                                <td>
                                                    <input type="checkbox"
                                                            name="selectedSubCats"
                                                            value="@sc.ID"
                                                            @(Html.Raw(sc.FileSubCatAssigned ? "checked=\"checked\"" : "")) />
                                                </td>
                                            </tr>
                                            
                                        }
                                    }
                                </table>
                            @:</div>
                        }
                        
                        <div class="form-group">
                            <div class="col-md-10">
                                <input type="submit" value="Create" name="UploadFile" class="btn btn-primary" />
                                @Html.ActionLink("Cancel", "Index")
                            </div>
                        </div>
                    </div>
                    
                }
            </div>

        </div>
    </div>

    @*Column for the File Filters*@
    <div class="col-md-4">
        @foreach (var cats in cat)
        {
            <div class="panel panel-success text-center">
                <div class="panel-heading">
                    @Html.DisplayFor(modelItem => cats.FileCatName)
                </div>
                <ul class="list-group">
                    @foreach (var subCats in subCat)
                    {
                        if (cats.ID == subCats.FileCatFK)
                        {

                            if (url.EndsWith("FileStorages/Index"))
                            {
                                <li class="list-group-item btn btn-default" onclick="location.href='Index/@subCats.ID'"><a style="text-decoration:none"> @Html.DisplayFor(modelItem => subCats.FileSubCatName)</a> </li>
                            }
                            else if (url.EndsWith("FileStorages"))
                            {
                                <li class="list-group-item btn btn-default" onclick="location.href = 'FileStorages/Index/@subCats.ID'"><a style="text-decoration:none">@Html.DisplayFor(modelItem => subCats.FileSubCatName)</a></li>
                            }
                            else
                            {
                                <li class="list-group-item btn btn-default" onclick="location.href = '@subCats.ID'"><a style="text-decoration:none"> @Html.DisplayFor(modelItem => subCats.FileSubCatName)</a> </li>
                            }
                        }
                    }
                </ul>
            </div>
        }
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Html.Raw(TempData["msg"])
    <script>
        $(document).ready(function () {
            $('#btnSearch').hide();

            $('[data-toggle="popover"]').popover();
            
            $('#glyphNewFile').on('click', function () {
                $('#fileListTitle').slideToggle();
                $('#fileContent').slideToggle();
                $('#newFileContent').slideToggle();
                $('#newFileListTitle').slideToggle();
                $('#glyphNewFile').fadeToggle();
                $('#fileSearchText').slideToggle();
                $('#fileTable').fadeToggle();
            });

            $("[type='checkbox']").bootstrapSwitch();
        });
    </script>
}

                                       
 
