@model IEnumerable<HospiceNiagara.ViewModels.FileStorageVM>

@{
    ViewBag.Title = "Index";
}

@* Paul Boyko March 2015 *@

@* All the Catigories and Sub Catigories *@

<div class="container">

    @{
        List<HospiceNiagara.ViewModels.FileCatVM> cat = ViewBag.Cat;
        List<HospiceNiagara.ViewModels.FileSubCatVM> subCat = ViewBag.FileSubCat;

        var url = Request.Url.PathAndQuery;
        
        foreach(var cats in cat)
        {        
                <div class="col-sm-4">
                    <div class="panel panel-success">
            <div class="panel-heading">
                @Html.DisplayFor(modelItem => cats.FileCatName)
            </div>
            <div id="staffContent" class="panel-body">
                <ul class="Staff-Index">
            @foreach (var subCats in subCat)
            {
                 if(cats.ID == subCats.FileCatFK)
                 { 
                    
                     if(url.EndsWith("FileStorages/Index"))
                     {
                        <li><a href="Index/@subCats.ID"> @Html.DisplayFor(modelItem => subCats.FileSubCatName) </a> </li>
                     }
                     else if(url.EndsWith("FileStorages"))
                     {
                        <li><a href="FileStorages/Index/@subCats.ID"> @Html.DisplayFor(modelItem => subCats.FileSubCatName) </a> </li>
                     }
                     else
                     {
                        <li><a href="@subCats.ID"> @Html.DisplayFor(modelItem => subCats.FileSubCatName) </a> </li>
                     }
                 }


            }
                </ul>
            </div>
        </div>
        </div>
            
        }
     }

 @* File Table with search *@       

    <div class="col-sm-8">
        <div class="panel panel-info ">
            <div class="panel-heading">
                <span id="fileListTitle">Files</span>
                <span id="newFileListTitle" hidden>Upload Files</span>
                <div id="glyphNewFile" class="glyphicon glyphicon-plus pull-right"></div>
                Search
            </div>
            <div id="fileContent" class="panel-body">
                <div class="panel-body-toolbar form-inline">
                   
                   @using (Html.BeginForm())
                   { 
                     @Html.TextBox("searchString", null, new { @class = "form-control" }) 
                    <input type="submit" value="Search" class="btn btn-default" />  
                     @Html.ActionLink("Clear", "Index");
                    }
                </div>

                <table class="table table-striped table-bordered" style="width:100%;">
                    <tr>
                        
                        <th>
                            @Html.DisplayNameFor(model => model.FileDescription)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FileName)
                        </th>
                        <th>
                        @Html.DisplayNameFor(model => model.FileUploadDate)
                        </th>

                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            
                            <td>
                                @Html.DisplayFor(modelItem => item.FileDescription)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FileName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FileUploadDate)
                            </td>

                            <td>
                                @Html.ActionLink("Download", "Download", new { id = item.ID }) |
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                            </td>
                        </tr>
                    }

                </table>

@* New File is same Panel *@

            </div>

            <div id="newFileContent" class="panel-body" hidden>

                <div class="col-md-10">
                    @using (Html.BeginForm("", "FileStorages", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div>
                            <label for="fileDescription">Description</label><input type="text" name="fileDescription" /><br />
                            <input type="file" name="FileUpload" /><br />
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Select Roles</label>
                            <div class="col-md-offset-2 col-md-10">
                                <table>
                                    <tr>
                                        @{
                        int cnt = 0;
                        List<HospiceNiagara.ViewModels.RoleVM> roles = ViewBag.RolesLists;
                        foreach (var r in roles)
                        {
                            if (cnt++ % 2 == 0)
                            {
                                @:</tr><tr>
                            }
                            @:<td>
                                <input type="checkbox"
                                       name="selectedRoles"
                                       value="@r.RoleID"
                                       @(Html.Raw(r.RoleAssigned ? "checked=\"checked\"" : "")) />
                                            @r.RoleName
                        @:</td>
                           }
                        @:</tr>
                                        }
                                    </table>
                                </div>
                            </div>

     
                

        <div class="form-group">
        <label class="control-label col-md-2">Select Catigories</label>
        <div class="col-md-offset-2 col-md-10">
            <table>
                

                @foreach (var cats in cat)
                {
                     @:<tr><th>
                            @Html.DisplayFor(modelItem => cats.FileCatName)
                         @:</th>

                                        


                        foreach (var sc in subCat)
                        {
                            if (cats.ID == sc.FileCatFK)
                            {

                                @:<td>
                                    <input type="checkbox"
                                           name="selectedSubCats"
                                           value="@sc.ID"
                                           @(Html.Raw(sc.FileSubCatAssigned ? "checked=\"checked\"" : "")) />
                                    @sc.FileSubCatName
                                @:</td>
                           }
                        }
                        @:</tr>

                    }
                </table>
            </div>
        </div>

                            <input type="submit" name="UploadFile" value="Create" />
                    }
                </div>
            </div>

        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")

<script>

    $(document).ready(function () {
        

    $('#glyphNewFile').on('click', function () {
        $('#fileListTitle').slideToggle();
        $('#fileContent').slideToggle();
        $('#newFileContent').slideToggle();
        $('#newFileListTitle').slideToggle();
        $('#glyphNewFile').fadeToggle();
    })

    });
</script>
                                       
 
